.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 5px;
  text-transform: uppercase;
  border:10px;
}

.nav
{
    margin-bottom:1px;
}

.nav li {
  display: inline;
  padding-right:50px;
  
  
}

.nav li a {
  
  color:orange;
  background-color:#f0f0f0;
}

.nav li a:hover{
  
  color:red;
  background-color:black;
}



.jumbotron {
  background-image:url('http://choicewallpapers.net/wp-content/uploads/2014/06/Grand-Canyon-Sunset-hd-wallpaper-950x534.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:1px;
  
}

.jumbotron .container {
  position: relative;
  top:50px;
}

.jumbotron h3 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.second
{
    font-size:10px;
    font-style:italic;
}

.webpresence 
{
    background-color: #efefef;
    border-bottom:1px solid #dbdbdb;
    margin-bottom:1px;
    padding-bottom:10px;
}

.webpresence h2
{
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.webpresence a
{
    color:#00b0ff;
}
.webpresence h3
{
  display:inline;
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;

}

.learn-more {
  background-color: #efefef;
   border-bottom:1px solid #dbdbdb;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
  
}

.learn-more a {
  color: #00b0ff;
}

.learn-more h2
{
     font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.neighborhood-guides
{
    background-color: #efefef;
    border-bottom:1px solid #dbdbdb;
}


.neighborhood-guides h2
{
     font-family: 'Shift', sans-serif;
    color:#393c3d;
    font-size:24px;
    font-weight: bold;
}

.neighborhood-guides p
{
    font-size:15px;
    margin-bottom:13px;
}
