@import url('http://fonts.googleapis.com/css?family=Open+Sans');

.nav
{
    /*margin-bottom:1px;*/
    background:white;
    
    
}

.nav .l2
{
    padding-right:1px;
}

.nav li {
    float:left;
  padding-right:50px;
  
  
}

.nav li img
{
    -webkit-filter: contrast(120%) 
}
.nav li img:hover
{
  
     -webkit-filter: sepia(100%) 
}


.nav li a {
  
  
  color:#ff8900;
  background-color:white;
  font-size:13.5px;
  font-weight: bold;
  /*padding: 0px 0px;*/
  text-transform: uppercase;
  border:10px;
  
}

.nav li a:hover{
  
  background-color:white;
  color:#ffdd00;
}


.proj
{
    margin-bottom:75px;
}
.proj li
{
    display: inline;
    padding-right:25px;
    
}

.proj li a {
  
  color:black;
  background-color:#00ffff;
  font-size:12px;
  opacity:0.75;
}

.proj li a:hover
{
    color:black;
    background-color:#00ffff;
    opacity:1;
    font-size:12.5px;
}

.projects
{
    border-top:1px solid #dbdbdb;
    border-bottom:1px solid #dbdbdb;
   
}

.projects h2
{
      font-family: 'Shift', sans-serif;
    color:#393c3d;
    font-size:24px;
    font-weight: bold;
    margin-top:100px;
}

.projects h3 {
  font-family: 'Shift', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-left:25px;
  padding-top:10px;
  
}

.projects p
{
    font-family: 'Open Sans', sans-serif;
    padding-top:20px;
    padding-left:10px;
    padding-bottom:20px;
}

.projects .project1
{
    
    border: 4px solid gray;
    /*width:85%;*/
    margin-bottom:400px;
    margin-top:200px;
    
}


.projects .project2,.project3,.project4
{
    /*position:relative;*/
    border: 4px solid gray;
    /*width:85%;*/
    margin-top:100px;
    margin-bottom:400px;
}

.jumbotron {
  background-image:url('http://choicewallpapers.net/wp-content/uploads/2014/06/Grand-Canyon-Sunset-hd-wallpaper-950x534.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:1px;
  
}

.jumbotron .container {
  position: relative;
  top:50px;
}

.jumbotron h3 {
    padding-top:-20px;
  color: #fff;
  font-size: 52px;  
  font-family: 'Gloria Hallelujah', cursive;
  padding-bottom:20px;
  font-weight: bold;
}

.jumbotron p {
    
  font-size: 22px;
  color: #fff;
  font-family:'Open Sans', sans-serif;
}

/*.second
{
    font-size:10px;
    font-style:italic;
}*/


.webpresence .container
{
    margin-top:50px;
    margin-bottom:50px;
    border:1px transparent;
    
}


/*.webpresence 
{
    
    background-color: white;
    border-bottom:1px solid #dbdbdb;
    padding-bottom:10px;
    border-top:1px solid #dbdbdb;
}

.webpresence h2
{
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom:25px;
}

.webpresence a
{
    color:#00b0ff;
}
.webpresence h3
{
  display:inline;
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;

}*/

.learn-more {
  background-color: white;
   border-bottom:1px solid #dbdbdb;
   border-top:1px solid #dbdbdb;
   /*border-top:1px solid #dbdbdb;*/
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
  
}

.learn-more a {
  color: #00b0ff;
  font-weight:bold;
  
}

.learn-more .container
{
    margin-top:10px;
    margin-bottom:400px;
    
}

.learn-more h2
{
     font-family: 'Shift', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom:15px;
}

.neighborhood-guides
{
    background-color: white;
    border-bottom:1px solid #dbdbdb;
    
}


.neighborhood-guides h2
{
     font-family: 'Shift', sans-serif;
    color:#393c3d;
    font-size:24px;
    font-weight: bold;
}

.neighborhood-guides p
{
    font-size:15px;
    margin-bottom:13px;
}


.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

